# Dependencies
node_modules/

# Build output
dist/
.expo/
.expo-shared/

# DB / caches
*.db
*.db-journal
*.db-shm
*.db-wal

# Environment
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# EAS Build local artifacts
*.apk
*.aab
*.ipa
